@import url('https://fonts.googleapis.com/css?family=Inter');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;

}

.title-section h1{
    position: absolute;
    width: 752px;
    height: 98px;
    left: 51px;
    top: 58px; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 84.8235px;
    line-height: 103px;

    color: #5C7190;

}

.title-section h2 {
    position: absolute;
    width: 860px;
    height: 66.42px;
    left: 482px;
    top: 110px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;

    color: rgba(34, 34, 34, 0.48);

    transform: rotate(-10.96deg);
}

.title-section img {
    
    position: absolute;
    margin-left: 0;
    left: 55rem;
    z-index: 20;
}



.body-text {
position: absolute;
width: 655px;
height: 177px;
left: 94px;
top: 285px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 13px;
line-height: 16px;

color: #000000;
}

.sign-up svg {

   position: absolute;
    width: 1264px;
    height: 183px;
    left: 30px;
    top: 591px;

    background: rgba(91, 112, 143, 0.46);
    border-radius: 39px;
}

#lblfname {
    position: absolute;
    width: 68px;
    height: 16px;
    left: 81px;
    top: 624px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #000000;
}

#lbllname {
    position: absolute;
    width: 67px;
    height: 16px;
    left: 421px;
    top: 627px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    
    
    color: #000000;
}

#fname{
    box-sizing: border-box;

    position: absolute;
    width: 298px;
    height: 61px;
    left: 81px;
    top: 652px;

    font-size: xx-large;

    background: #FFFFFF;
    border: 2px solid #AEA7A7;
    border-radius: 10px;
    z-index: 20;
}

#lname{
    box-sizing: border-box;

    position: absolute;
    width: 298px;
    height: 61px;
    left: 415px;
    top: 649px;

    font-size: xx-large;
    
    background: #FFFFFF;
    border: 2px solid #AEA7A7;
    border-radius: 10px;
    z-index: 20;
}

.sign-up a{
    position: absolute;
    width: 161px;
    height: 60px;
    left: 749px;
    top: 650px;

    color: #FFFFFF;
    background-color: rgb(49, 35, 99);
    padding: 15px 25px;
    text-decoration: none;
    z-index: 20;
    text-align: center;
    line-height: 28px;
    border-radius: 10px;

}